<table>
  <tbody>
	<tr>
    	<% @events.each do |event| %>
			<td>
				<%= image_tag event.image.url(:medium) %><br>
        		<%= event.title %> at 
       			<%= event.location %>
			</td>
    	<% end %>
   </tr>
  </tbody>
</table>
